.section {
    height: 100%;
    padding: var(--unit-2) var(--unit-6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;

    & button {
        display: flex;
        align-items: center;
        gap: var(--unit-1);
        padding: var(--unit-1) var(--unit-3);
        background-color: var(--btn);
        color: var(--btn-text);
        border-radius: var(--radius-small);
        border: none;
        cursor: pointer;
        font-size: 0.95rem;
        transition: var(--transition);
        text-decoration: none;
        box-shadow: var(--shadow-small);
    }

    & button:hover {
        color: var(--jaune);
        background-color: var(--btn-hover);
    }
}

.section-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: var(--unit-2);
}

.section-title p {
    font: var(--font-text);
    color: var(--text2);
}

.section-title h1 {
    color: var(--h1);
    margin: 0;
}

.section-title h2 {
    display: block;
    position: relative;
    margin: 0;
    padding-bottom: var(--unit-2);
    font: var(--font-subtitle);
    color: var(--h2);
}

.section-title h2::before,
.section-title h2::after {
    position: absolute;
    left: 0;
    top: 85%;
    bottom: -55px;
    height: 3px;
    background-color: var(--orange);
    content: '';
}

.section-title h2::before {
    width: 40px;    
}

.section-title h2::after {
    width: 25px;
    margin-top: 6px;
}

.section-contain {
    display: flex;
    padding: var(--unit-2);
    margin-top: var(--unit-2);
}

/* ========== SCROLLBAR STYLING ========== */

.section::-webkit-scrollbar {
    width: calc(var(--unit-1) * 0.75);
}

.section::-webkit-scrollbar-track {
    background: transparent;
}

.section::-webkit-scrollbar-thumb {
    background: var(--scrollbar-color);
}

.section::-webkit-scrollbar-thumb:hover {
    background: var(--orange);
}

/* ========== RESPONSIVE MOBILE ========== */
@media (max-width: 980px) {
    .section-contain {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .section-title {
        flex-direction: row;
        margin: 15px 0;
    }

    .section-title h2 {
        font: var(--font-subtitle);
    }

    .section-title h2::before {
        width: 30px;
    }

    .section-title h2::after {
        width: 20px;
    }
}