:root {
    /* COULEUR */
    --jaune: #F2BC1B;
    --orange: #F28241;
    --bleu1: #3E3B8C;
    --bleu2: #2D3073;
    --blanc: #f2f2f2;
    --noir: #0D0D0D;
    --error: #c62828;
    --valid: #008000;

    /* COULEUR ELEMENTS */
    --text: var(--blanc);
    --text2: var(--noir);
    --h1: var(--blanc);
    --h2: var(--noir);
    --link: var(--jaune);
    --btn: var(--bleu1);
    --btn-hover: var(--bleu2);
    --btn-text: var(--blanc);

    /* Option Taille */
    --unit: 8px;
    --unit-1: calc(var(--unit)*1);
    /* 8px */
    --unit-2: calc(var(--unit)*2);
    /* 16px */
    --unit-3: calc(var(--unit)*3);
    /* 24px */
    --unit-4: calc(var(--unit)*4);
    /* 32px */
    --unit-5: calc(var(--unit)*5);
    /* 40px */
    --unit-6: calc(var(--unit)*6);
    /* 48px */
    --unit-7: calc(var(--unit)*7);
    /* 56px */
    --unit-8: calc(var(--unit)*8);
    /* 64px */

    /* Font Size */
    --font-btn: 1rem system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --font-text: 400 1.2rem system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --font-subtitle: 500 1.7rem system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --font-title: 700 2rem system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    /* BORDER RADIUS */
    --radius-small: calc(var(--unit) / 2);
    /* 4px */
    --radius-medium: var(--unit);
    /* 8px */
    --radius-large: calc(var(--unit) * 1.5);
    /* 12px */

    /* Configuration des boutons */
    /* PRIMARY */
    --btn-primary-padding: var(--unit-1) var(--unit-3);
    --btn-primary-border-radius: var(--radius-small);
    --btn-primary-text-size: var(--font-btn);
    /* SECONDARY */
    --btn-secondary-padding: var(--unit-1) var(--unit-3);
    --btn-secondary-border-radius: var(--radius-small);
    --btn-secondary-text-size: var(--font-btn);

    /* Configuration Effect */
    --shadow-light: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    --shadow-medium: 0 4px 6px rgba(0, 0, 0, 0.16), 0 2px 4px rgba(0, 0, 0, 0.23);
    --shadow-strong: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    --transition: all 0.3s ease;
    --error-border: 3px solid #f44336;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}