:root {
    --color: #3E3B8C #2D3073 #F2BC1B #F28241 #F2F2F2 #0D0D0D;
    /* COULEUR */
    --primary-color: #F2BC1B;
    --secondary-color: #F28241;
    --background-color: #3E3B8C;
    --blanc:#f2f2f2;
    --noir: #0D0D0D;


    /* COULEUR ELEMENTS */
    --text: var(--blanc);
    --title: var(--blanc);
    --link: var(--primary-color);
    --error: red;
    --valid: green;
    --btn:#3E3B8C;
    --btn-hover:#2D3073;
    --btn-text: var(--blanc);


    /* Configuration des boutons */
    /* PRIMARY */
    --btn-primary-size: 1.2rem;
    --btn-primary-padding: 1rem 2rem;
    --btn-primary-border-radius: .4rem;
    --btn-primary-text-size: 1.2rem;
    /* SECONDARY */
    --btn-secondary-size: 1rem;
    --btn-secondary-padding: 1rem 2rem;
    --btn-secondary-border-radius: .4rem;
    --btn-secondary-text-size: 1.2rem;

    /* Configuration Effect */
    --font-text : 400 1.2rem system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --font-title: 700 2rem system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --shadow: 0 2px 4px rgba(0, 0, 0, 0.1)
    --transition: all 0.3s ease;
}


*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}