@import url(./default/variables.css);
@import url(./default/normalize.css);
@import url(./default/section.css);

/* ----------CSS COMPONENTS----------- */
@import url(./components/header.css);
@import url(./components/footer.css);
@import url(./components/auth-modal.css);

/* ----------CSS PAGES----------- */
@import url(./modules/agenda.css);
@import url(./modules/appli.css);
@import url(./modules/dossier.css);
@import url(./modules/home.css);
@import url(./modules/option.css);
@import url(./modules/reception.css);
@import url(./modules/shortcut.css);

/* ----------CSS MODULES----------- */
@import url(./modules/modal.css);
@import url(./modules/chat-widget.css);