.left-contain,
.right-contain {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 45%;
    max-width: 45%;
    background-color: var(--bleu2);
    box-shadow: var(--shadow-medium);
    border-radius: var(--radius-medium);
    padding: var(--unit-2);

    & .section-time {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 0 var(--unit-2)var(--unit-2);
        gap: var(--unit-2);
        font: var(--font-text);
        color: var(--text);
    }
}
.feedback{
    margin-top: var(--unit-2);
    & a{
        display: flex;
        align-items: center;
        gap: var(--unit-1);
        padding: var(--unit-1) var(--unit-3);
        background-color: var(--btn);
        color: var(--btn-text);
        border: 1px solid var(--btn-text);
        border-radius: var(--radius-small);
        cursor: pointer;
        font-size: 0.95rem;
        transition: var(--transition);
        text-decoration: none;
    }
    a:hover{
        background-color: var(--btn-hover);
        border: 1px solid var(--btn-text);
    }
}

@media (max-width: 980px) {

    .left-contain,
    .right-contain {
        min-width: 100%;
        max-width: 100%;
        height: auto;
    }
}